{% load i18n %}
<link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css" />
<form method="post" action="{% url 'admin:blog_post_add' %}" id="quickdraft">
  <fieldset class="module aligned widget">
    <h2>{{ widget.title }}</h2>
    {% csrf_token %}
    <div class="form-row">
      <label class="required">{% trans 'Title' %}:</label>
      <input type="text" name="title" required class="vTextField">
    </div>
    <div class="form-row">
      <label>{% trans 'Content' %}:</label>
      <textarea name="content" class="vLargeTextField" rows="10"></textarea>
    </div>
    <input type="hidden" name="content_type" value="markdown">
    <input type="hidden" name="author" value="{{ request.user.get_full_name }}">
    <input type="hidden" name="created_on_0" value="{% now 'Y-m-d' %}">
    <input type="hidden" name="created_on_1" value="{% now 'H:i:s' %}">
    <input type="hidden" name="slug" value="">
    <input type="submit" value="{% trans 'Save draft' %}"
      style="float:right;margin:5px 22px 5px 0">
  </fieldset>
</form>
<script>
  $(function() {
    var $form = $('#quickdraft'),
        $title = $form.find('[name=title]'),
        $slug = $form.find('[name=slug]');

    $title.on('change keyup', function() {
      $slug.val($title.val().replace(/[^a-z0-9-]+/gi, '-'));
    });
  });
</script>
